<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :account_id %>
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.text_field :phone_number %>
  </div>

  <% form.fields_for :address, customer.address do |address_form|%>
    <div class="field">
      <%= address_form.label :address1 %>
      <%= address_form.text_field :address1 %>
    </div>

    <div class="field">
      <%= address_form.label :address2 %>
      <%= address_form.text_field :address2 %>
    </div>

    <div class="field">
      <%= address_form.label :city %>
      <%= address_form.text_field :city %>
    </div>

    <div class="field">
      <%= address_form.label :state %>
      <%= address_form.text_field :address1 %>
    </div>

    <div class="field">
      <%= address_form.label :zipcode %>
      <%= address_form.text_field :zipcode %>
    </div>

    <div class="field">
      <%= address_form.label :country %>
      <%= address_form.text_field :country %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
