<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @customer.account %>
</p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @customer.phone_number %>
</p>

<%= raw @qr.as_svg(offset: 0, color: '000', shape_rendering: 'crispEdges', module_size: 5) %>
<br /><br />

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
